* {
  margin-top: 0;
  background: grey;
  color: white;
  font-family: Georgia, "Times New Roman", serif;
}

/*home*/
#home {
  height: 780px;
  position: relative;
}

.nav-bar ul {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  list-style: none; 
  z-index: 1;
}

.nav-bar li {
  display: inline-block;
  padding: 10px;
}

.nav-bar a {
  text-decoration: none;
  font-size: 0.8em;
}

.nav-bar a:hover{
  background: white;
  color: black;
}

.intro {
  position: absolute;
  text-align: center;
  top: 400px;
  left: 50%;
  transform: translate(-50%);
  width: 560px;
}



/*skill part*/
#skills {
  height: 780px;
  position: relative;
  text-align: center;
}

#skills >div {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);
}


.list {
  list-style: none;
}

/*experience part*/
#experience {
  height: 780px;
  position: relative;
  text-align: center;
}

#experience >div {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);
}

.half {

  padding-top: 15%;
  margin: 40px;
  font-size: 1.2em;
}

/*contact part*/
#contact {
  height: 780px;
  position: relative;
  text-align: center;  
}

#contact >div {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%);
  margin:0 auto;
}
  
#contact ul {
  list-style: none;
}

#contact a {
  text-align: center;
  text-decoration: none;
}